services:
  dev:
    container_name: dev
    build:
      context: .
      dockerfile: Dockerfile.dev
    depends_on:
      - db
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    networks:
      - backend
    volumes:
      - ./db:/db
    init: true
    stdin_open: true
    tty: true
  fastapi:
    container_name: fastapi
    build: 
      context: ./TestSocket
      dockerfile: ../Dockerfile.fastapi
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_completed_successfully
    environment:
      - DATABASE_URL=postgresql://postgres:postgres@db:5432/postgres
    networks:
      - backend
    volumes:
      - ./db:/db
    command: uvicorn fast_api_test_server:app --host 0.0.0.0 --port 8000
  db:
    image: postgres
    container_name: postgres_db
    restart: always
    environment:
      POSTGRES_DB: postgres
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      PGDATA: /data/postgres_data
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"
    networks:
      - backend

networks:
  backend:
    driver: bridge

volumes:
  postgres_data:
